
body{
    background-color: rgba(255, 255, 255, 0.842);
}
.dollar-pic {
    height: 44px;
    width: 48px;
    margin-left: 14px;
}


.cal-area {
    margin: 35px 45px;
    background-image:linear-gradient(#e66465, #9198e5);
}
.no-border-feild {
    border: 0;
}
